extends layout.pug

block content
    doctype html
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
            link(rel="stylesheet", href="../style/style.css")
            title Update User
            
        body
            .form-container
                h2 Update User
                if errorMessage
                    .alert.alert-danger
                        | #{errorMessage}
                form(action=`/updateUser/${user._id}?_method=PUT`, method="POST")
                    .form-row
                        .form-group.col-md-6
                            label(for="firstName") First Name:
                            input.form-control(type="text", id="firstName", name="firstName", value=user.firstName, required)

                        .form-group.col-md-6
                            label(for="lastName") Last Name:
                            input.form-control(type="text", id="lastName", name="lastName", value=user.lastName, required)

                    .form-row
                        .form-group.col-md-6
                            label(for="dateOfBirth") Date of Birth:
                            input.form-control(type="date", id="dateOfBirth", name="dateOfBirth", value=user.dateOfBirth.toISOString().split('T')[0], required)

                        .form-group.col-md-6
                            label(for="phoneNumber") Phone Number:
                            input.form-control(type="text", id="phoneNumber", name="phoneNumber", value=user.phoneNumber, required)

                    .form-row
                        .form-group.col-md-6
                            label(for="address1") Address 1:
                            input.form-control(type="text", id="address1", name="address1", value=user.address1, required)

                        .form-group.col-md-6
                            label(for="address2") Address 2:
                            input.form-control(type="text", id="address2", name="address2", value=user.address2)

                    .form-row
                        .form-group.col-md-6
                            label(for="city") City:
                            input.form-control(type="text", id="city", name="city", value=user.city, required)

                        .form-group.col-md-6
                            label(for="postalCode") Postal Code:
                            input.form-control(type="text", id="postalCode", name="postalCode", value=user.postalCode, required)

                    .form-row
                        .form-group.col-md-6
                            label(for="country") Country:
                            input.form-control(type="text", id="country", name="country", value=user.country, required)

                        .form-group.col-md-6
                            label(for="email") Email:
                            input.form-control(type="email", id="email", name="email", value=user.email, required)

                    .form-group
                        label(for="userNotes") User Notes:
                        textarea.form-control(id="userNotes", name="userNotes", rows="4")= user.userNotes
                    .button-group.text-center.mt-4
                         button.btn.btn-primary(type="submit") Update User
                         a.btn.btn-success(href="/viewUser") View Users
